<!DOCTYPE html>
<html>
  <head>
    <title>CombatEngine</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.7.5/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-sanitize.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-messages.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.js"></script>
  </head>
  <body ng-app="be.app">
    <div ng-controller="beController as $ctrl">
      <h3 ng-cloak>BattleEngine Prototype</h3>
      <form ng-cloak>
        <div class="row">
          <label for="udl">UDL:</label>
        </div>
        <div class="row">
          <textarea class="wide" ng-model="$ctrl.udl"></textarea>
        </div>
        <div class="row">
          <select ng-options="team as team.label for team in $ctrl.teamOptions track by team.value" ng-model="$ctrl.selectedTeam"></select>
          <button ng-click="$ctrl.parseFleet($ctrl.udl)">Parse</button>
        </div>
        <div class="row">
          <button ng-click="$ctrl.fire($ctrl.teams)">Start Combat</button>
        </div>
      </form>
      <pre>
        {{$ctrl.selectedTeam | json}}
      </pre>
      <pre>
        {{$ctrl.log | json}}
      </pre>
      <pre>
        {{$ctrl.teams | json}}
      </pre>
      <!--<div class="container">
        <div class="header"></div>
        <div class="main"></div>
        <div class="sidebar"></div>
        <div class="footer"></div>
      </div>-->
    </div>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="app/be.app.js"></script>
  </body>
</html>
