/* Global styling */
body {
  background-color: #121212;
  color: #00ff00;
  margin: 0px;
  padding: 50px;
}

a {
  color: orange;
}

a:visited {
  color: orange;
}

textarea {
  background-color: #121212;
  color: orange;
}

/* Generic style classes */
::selection {
  background: lightgray;
}

/* Classes for the main window layout */
.container {
  display: grid;
  grid-template-columns: 150px 150px auto;
  grid-template-rows: 40px 40px 40px auto;
  background-color: #232323;
  /*box-shadow: 4px 4px 8px orange;*/
  box-shadow:
    0px -10px 0 -5px #232323,
    0px -10px 0 -4px rgba(0,255,0,0.85),
    0px -20px 0 -10px #202020,
    0px -20px 0 -9px rgba(0,255,0,0.70),
    0px -30px 0 -15px #171717,
    0px -30px 0 -14px rgba(0,255,0,0.55),
    0px -40px 0 -20px #141414,
    0px -40px 0 -19px rgba(0,255,0,0.40);
}

.title {
  border: 1px solid #00ff00;
  grid-column: 3;
  grid-row: 1;
}

.navi {
  border: 1px solid #00ff00;
  grid-column: 3;
  grid-row: 2;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  padding-top: 10px;
}

.cli {
  border: 1px solid #00ff00;
  grid-column: 3;
  grid-row: 3;
}

.app-body {
  border: 1px solid #00ff00;
  grid-column: 3;
  grid-row: 4;
  padding: 10px;
}

.icon {
  border: 1px solid #00ff00;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  display: grid;
}

.menu {
  border: 1px solid #00ff00;
  grid-column: 1;
  grid-row: 4;
}

.submenu {
  border: 1px solid #00ff00;
  grid-column: 2;
  grid-row: 4;
}

/* Classes for icon area layout */

.icon > h3 {
  place-self: center stretch;
  text-align: center;
  font-size: 18pt;
}

.icon > h5 {
  place-self: center stretch;
  text-align: center;
  font-size: 11pt;
}

/* CLasses for app-body load layout */
.app-body-load {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto auto auto auto ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.app-body-form {
  grid-column: 1 / span 2;
  grid-row: 2;
  border: 1px solid #00ff00;
  padding: 10px;
}

.app-body-load textarea {
  outline: none;
  resize: none;
  width: 95%;
}

.app-body-load input {
  width: 100%;
}

.app-body-red {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid #ff0000;
  padding: 10px;
}

.app-body-red > h3 {
  color: #ff0000;
}

.app-body-blue {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid #0000ff;
  padding: 10px;
}

.app-body-blue > h3 {
  color: #0000ff;
}

.app-body-output {
  grid-column: 1 / span 2;
  grid-row: 4;
  border: 1px solid orange;
}

.load-help {
  grid-column: 1 / span 2;
  grid-row: 1;
}

/* Classes for the navi area layout */
.navi > a {
  padding: 5px;
  color: orange;
  border: 1px solid orange;
}

/* Classes for news app pane */
.app-body-news {
  max-width: 1000px;
  width: 1000px;
}

/* Classes for the simulation app pane */
.app-body-sim {
  max-width: 1000px;
  width: 1000px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.sim-conditions {
  grid-column:  1 / span 2;
  grid-row: 1;
}

.sim-conditions-row {
  display: block;
  margin-bottom: 10px;
}

.sim-conditions-row > input {
  margin-left: 10px;
}

.sim-status {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.sim-status-text {
  color: orange;
  text-decoration: underline;
}

.sim-teams {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.sim-teams-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sim-teams-card {
  margin: 10px;
  padding: 10px;
  border: 2px solid #00e000;
  background-color: black;
  box-shadow: 2px 2px 4px orange;
}

.sim-teams-card h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
  color: orange;
}

.sim-teams-card > ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.sim-teams-card * li {
  margin: 0px;
  padding: 0px;
}

.sim-btn {
  margin: 5px;
  padding: 5px;
}
