<container class="app-body-load">
  <div class="load-help">
    <p>
      Team definitions are JSON strings.  There are a few required fields.  Right now those are:
      <ul>
        <li>units - an array of unit objects (see below for required fields)</li>
      </ul>
    </p>
    <p>
      Unit definitions are also JSON strings.  There are currently 3 required fields:
      <ul>
        <li>name</li>
        <li>size</li>
        <li>type</li>
      </ul>
    </p>
    <div>
      <h3>Here are some examples:</h3>
      <div class="row">
        <label>Example 1:</label><input type="text" ng-model="$ctrl.example" readonly="readonly" />
      </div>
      <div class="row">
        <label>Blue Example:</label><input type="text" ng-model="$ctrl.blueExample" readonly="readonly" />
      </div>
      <div>
        <label>Red Example:</label><input type="text" ng-model="$ctrl.redExample" readonly="readonly" />
      </div>
    </div>
  </div>
  <form class="app-body-form" ng-cloak>
    <div class="row">
      <label for="udl">UDL:</label>
    </div>
    <div class="row">
      <textarea rows="10" ng-model="$ctrl.udl"></textarea>
    </div>
    <div class="row">
      <select ng-options="team as team.label for team in $ctrl.teamOptions track by team.value" ng-model="$ctrl.selectedTeam"></select>
      <button ng-click="$ctrl.parseGroup($ctrl.udl)">Parse</button>
    </div>
    <!--<div class="row">
      <button ng-click="$ctrl.fire($ctrl.teams)">Start Combat</button>
    </div>-->
  </form>
  <container class="app-body-red">
    <h3>Red Fleet</h3>
    <pre>
      {{$ctrl.teams["Red"] | json}}
    </pre>
  </container>
  <container class="app-body-blue">
    <h3>Blue Fleet</h3>
    <pre>
      {{$ctrl.teams["Blue"] | json}}
    </pre>
  </container>
  <container class="app-body-output">
    <!--<pre>
      {{$ctrl.selectedTeam | json}}
    </pre>
    <pre>
      {{$ctrl.log | json}}
    </pre>-->
  </container>
</container>
